:root {
    --font-primary: "Electrolize", "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-secondary: "Inter", "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: #131822;
}

h1, h2, h3, h4, h5, h6, span {
    font-family: var(--font-primary);

}

p, a, li {
    /*font-family: var(--font-primary);*/
    font-family: var(--font-secondary);
    font-weight: 400;
}

html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dark-mode{
    background-color: #131824;
    color: #faf6ed;
}

.light-mode{
    background-color: #faf6ed;
    color: #d39f44;
}

.white-container {
    background-color: #faf6ed;
    border-color: #faf6ed;
}

.section-subtitle {
    color: #f3f2e0;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    /*font-size: 0.875rem;*/
    font-size: 1rem;
    margin-bottom: 1rem;
}
.section-text {
    color: #faf6ed;
    letter-spacing: 2px;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #d39f44;
}

.gen-orange-title {
    font-weight: bold;
    color: #d39f44;
}

.gen-white-title {
    font-weight: bold;
    color: #faf6ed;
}

.gen-orange-btn {
    background-color: #d39f44;
    border-color: #d39f44;
    color: #faf6ed;;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    font-family: var(--font-primary);
    font-size: 0.875rem;
}

button{
    font-family: var(--font-primary);
}

.gen-orange-btn:hover {
    color: #faf6ed;
    transform: translateY(-5px);
    font-family: var(--font-primary);
}

.img-box {
    max-width: 80%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.orange-button {
    background-color: transparent;
    border-color: #d39f44;
    color: #d39f44;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-family: var(--font-primary);
    display: inline-block;
    text-align: center;
}

.orange-button:hover {
    background-color: #d39f44;
    border-color: #d39f44;
    color: #faf6ed;
}

.white-button {
    background-color: transparent;
    border-color: #faf6ed;
    color: #faf6ed;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-family: var(--font-primary);
    display: inline-block;
    text-align: center;
}

.white-button:hover {
    background-color: #d39f44;
    border-color: #d39f44;
    color: #faf6ed;
}


