:root {
    --font-primary: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-secondary: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: #131720;
}
/*131720*/
/*faf6ed*/
/*f3efdf*/
/*fcead9*/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    font-weight: 600;
}

p, span, a, li {
    font-family: var(--font-secondary);
    font-weight: 400;
}
html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

container{
    padding-top: 60px;
}

.white-container{
    background-color: #faf6ed;
    border-color: #faf6ed;
}

.gen-sm-title{
    font-weight: bold;
    color: #d39f44;
}

.gen-btn {
    background-color: #d39f44;
    border-color: #d39f44;
    color: #fff;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

.gen-btn:hover {
    color: #fff;
    transform: translateY(-5px);
}

/*faf7f0*/
/*efe9d3*/

